*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: gray;
    text-align: center;
}

header{
    height: 70px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}

main{
    padding: 50px;
}

#principal{
    max-width: 800px;
    height: 400px;
    display: flex;
    margin: auto;
    border: solid 1px black;
    border-radius: 10px;
    background-color: white;
}

#resultado{
    width: 320px;
    height: 300px;
    border: solid 1px black;
    margin: auto;
    border-radius: 10px;
    background-color: black;
}

#voteAgain{
    margin: 10px;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

 #voteAgain:hover{
    transition-duration: 1s;
    background-color: rgb(26, 26, 26);
    box-shadow: 5px 5px 5px black;
}

#teclado{
    width: 320px;
    height: 300px;
    border: solid 1px black;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
}

.num{
    width: 70px;
    height: 40px;
    margin: 10px;
    background-color: black;
    border-radius: 5px;
    color: white;
    border: solid 1px white;
    font-size: 30px;
}

:hover.num{
    background-color: rgb(24, 20, 20);
}

.string{
    width: 90px;
    height: 40px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
}

.number{
    width: 70px;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

footer > p {
    color: white;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 800px){
    #principal{
        display: block;
        max-width: 500px;
        height: 700px;
    }
    #resultado{
        margin-top: 30px;
        width: 430px;
    }

    #teclado{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 430px;
    }
}

@media (max-width: 600px){
    #principal{
        width: 400px;
        margin: auto;
    }
  
    #resultado{
        margin-top: 30px;
        width: 320px;
    }

    #teclado{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 320px;
    }

    header{
        padding: 10px;
        width: 400px;
    }
    
    footer{
        width: 400px;
    }
}
